
:root{

    --rosa:#ff4fa0;
    --rosa-claro:#ffe6f3;

    --lila:#8b5cf6;
    --lila-claro:#efe7ff;

    --amarillo:#ffd84d;
    --amarillo-claro:#fff7d6;

    --azul:#1e2a58;

    --gris:#555;
    --blanco:#ffffff;
}



/* HEADER */

.header{

    width: 100%;

    position: fixed;

    top: 0;
    left: 0;

    z-index: 1000;

    background: rgb(255, 255, 255);

    backdrop-filter: blur(14px);

    border-bottom:
    1px solid rgba(255,255,255,.35);

    box-shadow:
    0 10px 30px rgba(139,92,246,.08);
}



/* NAVBAR */

.navbar{

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 18px 8%;
}



/* LOGO */

.logo{

    display: flex;

    align-items: center;

    gap: 12px;

    text-decoration: none;

    font-size: 1.35rem;

    font-weight: 900;

    color: var(--lila);
}

.logo img{

    width: 58px;

    transition: .4s;
}

.logo:hover img{

    transform:
    rotate(-8deg)
    scale(1.08);

    filter:
    drop-shadow(
        0 12px 18px rgba(255,79,160,.35)
    );
}



/* TEXTO LOGO */

.logo-texto{

    display: flex;

    align-items: center;

    flex-wrap: nowrap;
}



/* LETRAS LOGO */

.logo-texto span{

    display: inline-block;

    transition:
    transform .25s ease,
    color .25s ease,
    text-shadow .25s ease;

    cursor: pointer;
}

.logo-texto .espacio{
    width: 10px;
}



/* HOVER LOGO */

.logo-texto span:hover{

    transform:
    translateY(-6px)
    scale(1.15);
}



/* COLORES LOGO */

.logo-texto span:nth-child(3n+1):hover{

    color: var(--rosa);

    text-shadow:
    0 0 10px rgba(255,79,160,.8),
    0 0 20px rgba(255,79,160,.6);
}

.logo-texto span:nth-child(3n+2):hover{

    color: var(--lila);

    text-shadow:
    0 0 10px rgba(139,92,246,.8),
    0 0 20px rgba(139,92,246,.6);
}

.logo-texto span:nth-child(3n+3):hover{

    color: var(--amarillo);

    text-shadow:
    0 0 10px rgba(255,216,77,.8),
    0 0 20px rgba(255,216,77,.6);
}



/* MENU */

.menu{

    display: flex;

    align-items: center;

    gap: 30px;

    list-style: none;
}

.menu li{
    position: relative;
}



/* LINKS */

.menu a{

    position: relative;

    display: flex;

    align-items: center;

    gap: 8px;

    padding: 12px 18px;

    border-radius: 14px;

    color: #000000;

    font-weight: 700;

    overflow: hidden;

    transition:
    transform .3s ease,
    color .3s ease,
    box-shadow .3s ease;
}



/* HOVER MENU */

.menu a:hover{

    color: white;

    transform: translateY(-3px);

    background:
    linear-gradient(
        270deg,
        var(--rosa),
        var(--lila),
        var(--rosa),
        var(--lila),
        var(--rosa)
    );

    background-size: 400% 400%;

    animation:
    degradadoMover 8s ease infinite;

    box-shadow:
    0 10px 25px rgba(16, 10, 29, 0.25);
}




/* ANIMACION */

@keyframes degradadoMover{

    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }

}



/* DROPDOWN */

.menu-vertical{

    position: absolute;

    top: 170%;
    left: 0;

    min-width: 240px;

    padding: 15px;

    border-radius: 24px;

    background:
    rgba(255,255,255,.96);

    backdrop-filter: blur(10px);

    list-style: none;

    opacity: 0;
    visibility: hidden;

    transform: translateY(10px);

    transition: .35s;

    box-shadow:
    0 15px 35px rgba(0,0,0,.08);
}



/* SHOW DROPDOWN */

.dropdown:hover .menu-vertical{

    opacity: 1;

    visibility: visible;

    top: 140%;

    transform: translateY(0);
}



/* LINKS DROPDOWN */

.menu-vertical a{

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 14px 16px;

    border-radius: 16px;

    color: #444;

    font-weight: 600;

    transition: .3s;
}



/* HOVER DROPDOWN */

.menu-vertical a:hover{

    color: white;

    transform: translateX(5px);

    background:
    linear-gradient(
        135deg,
        var(--rosa),
        var(--lila)
    );

    box-shadow:
    0 10px 20px rgba(139,92,246,.2);
}



/* SUBMENU */

.submenu-lateral{

    position: absolute;

    top: 0;
    left: 108%;

    min-width: 230px;

    padding: 15px;

    border-radius: 24px;

    background:
    rgba(255,255,255,.97);

    backdrop-filter: blur(10px);

    list-style: none;

    opacity: 0;
    visibility: hidden;

    transform: translateX(10px);

    transition: .35s;

    box-shadow:
    0 15px 35px rgba(0,0,0,.08);
}



/* SHOW SUBMENU */

.submenu:hover .submenu-lateral{

    opacity: 1;

    visibility: visible;

    transform: translateX(0);
}



/* BOTONES */

.botones{
    display: flex;
    align-items: center;
}

.btn-login,
.btn-register{
    padding: 12px 24px;
    border-radius: 40px;
    font-weight: bold;
    transition: .3s;
}



/* LOGIN */

.btn-login{
    color: var(--lila);
    border:
    2px solid var(--lila);
    background: transparent;
    margin-right: 20px;
}

.btn-login:hover{
    background:
    linear-gradient(
        135deg,
        var(--lila),
        var(--rosa)
    );

    color: white;

    transform: translateY(-4px);

    box-shadow:
    0 10px 20px rgba(139,92,246,.2);
}



/* REGISTER */

.btn-register{

    background:
    linear-gradient(
  black
    );

    color: white;

    box-shadow:
    0 10px 20px rgba(139,92,246,.2);
}

.btn-register:hover{

    transform: translateY(-5px);

    background:
    linear-gradient(
        135deg,
        var(--lila),
        var(--rosa)
    );
}
.footer{
width:100%;
background:linear-gradient(135deg,#ead4f7,#f8f1ff,#fff5d8);
padding:65px 50px 40px;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:35px;
border-top:1px solid rgba(0,0,0,0.05);
}

.footer-columna h3{
font-size:30px;
color:#1e2a58;
margin-bottom:18px;
}

.footer-columna h4{
font-size:22px;
color:#1e2a58;
margin-bottom:18px;
}

.footer-columna p{
font-size:16px;
line-height:1.8;
color:#444;
margin-bottom:8px;
}

.footer-columna a{
color:#444;
text-decoration:none;
transition:.3s;
}

.footer-columna a:hover{
color:#9d00ff;
padding-left:5px;
}

.footer-columna:first-child p{
max-width:260px;
}

.redes{
display:flex;
gap:14px;
margin-top:10px;
margin-bottom:18px;
}

.redes a{
width:42px;
height:42px;
background:white;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:18px;
color:#1e2a58;
box-shadow:0 8px 18px rgba(0,0,0,0.06);
transition:.3s;
}

.redes a:hover{
background:#9d00ff;
color:white;
transform:translateY(-5px);
padding-left:0;
}

.correo-footer{
font-size:15px;
color:#555;
}

.copy-footer{
width:100%;
text-align:center;
padding:18px;
font-size:15px;
color:#555;
background:#ffffff;
border-top:1px solid rgba(0,0,0,0.05);
}



@media(max-width:1000px){

.footer{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.footer{
grid-template-columns:1fr;
padding:50px 25px 30px;
text-align:center;
}

.footer-columna:first-child p{
margin:auto;
}

.redes{
justify-content:center;
}

.footer-columna a:hover{
padding-left:0;
}

.copy-footer{
font-size:14px;
padding:16px;
}

}




.menu-toggle{
    display:none;
}


@media(max-width:900px){

.navbar{
    padding:15px 20px;
}

.logo img{
    width:150px;
}

.menu-toggle{
    display:block;
    font-size:26px;
    cursor:pointer;
}

.menu{
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:#fff;
    flex-direction:column;
    display:none;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.menu.activo{
    display:flex;
}

.menu li{
    width:100%;
}

.menu li a{
    width:100%;
    padding:15px 20px;
    border-bottom:1px solid #eee;
}

.menu-vertical{
    position:static;
    width:100%;
    display:none;
    box-shadow:none;
}

.menu li.activo > .menu-vertical{
    display:block;
}

.submenu-lateral{
    position:static;
    width:100%;
    display:none;
    box-shadow:none;
}

.menu-vertical li.activo > .submenu-lateral{
    display:block;
}

.botones{
    display:none;
}

}

/* BOTON MODO OSCURO */

.modo-oscuro-btn{

    width: 48px;
    height: 48px;

    border: none;

    border-radius: 50%;

    cursor: pointer;

    font-size: 18px;

    color: white;

    background:
    linear-gradient(
        135deg,
        #ff4fa0,
        #8b5cf6
    );

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .35s;

    box-shadow:
    0 10px 20px rgba(139,92,246,.25);
}

.modo-oscuro-btn:hover{

    transform:
    translateY(-4px)
    rotate(10deg);

    box-shadow:
    0 14px 25px rgba(139,92,246,.35);
}



/* MODO OSCURO */

body.dark{

    background: #000000;

    color: white;
}



/* HEADER */

body.dark .header{

    background: black;
}



/* TEXTOS */

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark p,
body.dark a{

    color: white;
}



/* TARJETAS */

body.dark article {

    background: #000000;

    color: white;

    box-shadow:
    0 10px 25px rgba(0,0,0,.3);
}



/* DROPDOWN */

body.dark .menu-vertical,
body.dark .submenu-lateral{

    background: #1f2937;
}



/* FOOTER */

body.dark .footer{

    background:
    linear-gradient(
        135deg,
        #111827,
        #1e1b4b
    );
}



/* INPUTS */

body.dark input,
body.dark textarea{

    background: #1f2937;

    color: white;

    border: 1px solid #444;
}

.user-box{
    display:flex;
    align-items:center;
    gap:10px;

    padding:6px 12px;
    border-radius:40px;

    background: #f5ebff;

    box-shadow:0 8px 18px rgba(0,0,0,0.05);
}

.user-photo{
    width:38px;
    height:38px;
    border-radius:50%;
    object-fit:cover;

    border:2px solid #8b5cf6;
}

#userNameHeader{
    font-weight:700;
    color:#1e2a58;
    font-size:14px;
}